.App {
    font-family: monospace;
    background-color: #fff9f0;
}

.form {
    background-color: #fdfbf5;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    max-width: 500px; 
}

input, select, textarea, button, .label, .btn, .formHeading {
  font-family: monospace;
}

.formHeading {
    font-size: larger;
}

.label {
    font-size: large;
    color: black;
}

.input {
    border: 2px solid black;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.btn {
    background-color: #727272;
    color: white;
    font-size: large;
    padding: 10px;
    display: block;
    border: 2px solid black;
    margin: 10px auto;
}